<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Footprint Translator - Hire us</title>
    <!--<link href="bundles/bootstrap3/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="../../../bundles/public/css/normalize.css" rel="stylesheet">
    <link href="../../../bundles/public/css/index.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../../bundles/ie/html5shiv.js"></script>
    <script type="text/javascript" src="../../../bundles/ie/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div id="header">
        <img id="logo" src="../../../bundles/public/img/logo.png">
        <ul id="mainmenu">
            <li><a href="index.html">Translator</a></li>
            <li class="active"><a href="hire.html">Hire us</a></li>
        </ul>
    </div>
    <div id="content">
        <h1>ABOUT THE FOOTPRINT TRANSLATOR</h1>

        <p>Without context, the raw data from environmental impact analyses often mean little to consumers who want to better understand or compare products and services. We developed the Footprint Translator as a tool to help forward-thinking companies provide that context and improve they way they communicate, ultimately helping both the companies and their customers be better stewards of the environment.</p>

        <p>Our combined expertise creates a rare mix of strong environmental science understanding coupled with savvy communication problem-solving. We love what we do, and would love to help you communicate your environmental data. Have a project in mind or just want to connect? Contact us!</p>

        <div class="persons">
            <div class="person">
                <img src="../../../bundles/public/img/katy.jpg"> <h3>Katya Druzhinina, MESM</h3>
                <p>Katya is an experienced Life Cycle Analysis (LCA) consultant, focused on helping her clients understand, improve, and communicate the environmental side of their products and services. She is an educator at heart, and believes in global change through personal and local actions. She has worked on more than 100 LCA projects.</p>
            </div>
            <div class="person">
                <img src="../../../bundles/public/img/milena.jpg"> <h3>Milena Gavala, BSc., MESM</h3>
                <p>Milena is an information designer determined to help get science out of the ivory tower and into the hands of decision-makers who can use it to change the world.With over 10 years of experience in graphic design and communications, (as wellas a former career as an environmental scientist), she is passionate about distilling complex scientific information into smart, beautiful, and effective visuals.</p>
            </div>
        </div>
    </div>
    <div class="contacts">
        <h3>Contact us</h3>
        <form method="post">
            <input type="text" name="name" placeholder="Name" />
            <input type="text" name="email" placeholder="E-mail" />
            <textarea name="message" placeholder="Message"></textarea>
            <div>
                <img class="captcha" src="">
                <input type="text" name="captcha" placeholder="Enter CAPTCHA">
                <input type="button" value="Send">
            </div>
        </form>
    </div>
    <div id="footer">
        &copy; Copyright 2014 Footprint Translator, Katya Druzhinina and Milena Gavala
    </div>
</div>
<script type="text/javascript" src="../../../bundles/jquery/jquery.js"></script>
<script type="text/javascript" src="../../../bundles/public/js/index.js"></script>
</body>
</html>