<div class="search">
    <form action="{{ path('public_page', {node: 'search'}, locale) }}" method="get">
        <input type="text" value="{{ searchText }}" name="search" placeholder="Поиск в разделах">
        <input type="submit" value="">
    </form>
</div>